## Attention

An order might have multiple items.

Each item might be fulfiled by a distinct seller

In [23]:
#Import required libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import plotly.express as px

In [24]:
# The datasets were combined into one Excel file with multiple sheets
#Load workbook
xl = pd.ExcelFile('olist_store_dataset.xlsx', engine='openpyxl')

In [25]:
# list of sheets containing the datasets
xl.sheet_names

['customers_data',
 'geolocation_data',
 'order_items_data',
 'order_payments_data',
 'order_reviews_data',
 'orders_data',
 'products_data',
 'sellers_data',
 'product_categories_data']

### Load the tables from Excel worksheet to a pandas dataframe

In [26]:
# Customers data sheet
customers_df = pd.read_excel(xl, sheet_name='customers_data')
customers_df.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [27]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [32]:
# change column datatypes
customers_df['customer_zip_code_prefix'] = customers_df.customer_zip_code_prefix.astype('str')

# Let's standardize customer_zip_code_prefix digits to 5 for the column
customers_df.customer_zip_code_prefix = customers_df.customer_zip_code_prefix.str.zfill(5)

customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [30]:
customers_df.customer_zip_code_prefix.sample(5)

97060    14780
83565    04205
9133     30668
88922    58701
73754    15084
Name: customer_zip_code_prefix, dtype: object

In [31]:
# geolocation data sheet
geolocation_df = pd.read_excel(xl, sheet_name='geolocation_data')
geolocation_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [11]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [33]:
# Change data types of listed columns

geolocation_df['geolocation_zip_code_prefix'] = geolocation_df.geolocation_zip_code_prefix.astype(str)


# Let's standardize geolocation_zip_code_prefix digits to 5 for the column
geolocation_df.geolocation_zip_code_prefix = geolocation_df.geolocation_zip_code_prefix.str.zfill(5)

In [34]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  object
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), object(3)
memory usage: 38.2+ MB

In [35]:
geolocation_df.geolocation_zip_code_prefix.sample(10)

527993    29090
443348    22261
88183     04304
41676     03062
677496    41770
945940    91010
358479    15996
685803    44590
52018     03227
230503    09560
Name: geolocation_zip_code_prefix, dtype: object

In [36]:
# order_items data sheet
order_items_df = pd.read_excel(xl, sheet_name='order_items_data')
order_items_df.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [37]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

- Change datatypes for some columns
- Drop the shipping_limit_date column

In [40]:
order_items_df['order_item_id'] = order_items_df['order_item_id'].astype('str')
order_items_df['product_id'] = order_items_df['product_id'].astype('str')
order_items_df['seller_id'] = order_items_df['seller_id'].astype('str')

order_items_df = order_items_df.drop(columns=['shipping_limit_date'])

In [41]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       112650 non-null  object
 1   order_item_id  112650 non-null  object
 2   product_id     112650 non-null  object
 3   seller_id      112650 non-null  object
 4   price          112650 non-null  float64
 5   freight_value  112650 non-null  float64
dtypes: float64(2), object(4)
memory usage: 5.2+ MB

In [42]:
# order_payments data sheet
order_payments_df = pd.read_excel(xl, sheet_name='order_payments_data')
order_payments_df.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [43]:
order_payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [44]:
order_payments_df.duplicated().any()

False

In [45]:
# order_payments_df contains duplicate rows
order_payments_df[order_payments_df.duplicated()]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [46]:
# Change datatype
order_payments_df['order_id'] = order_payments_df['order_id'].astype('str')

# drop irrelevant columns
order_payments_df = order_payments_df.drop(columns=['payment_sequential', 'payment_installments'])
order_payments_df.info()

# drop duplicates
order_payments_df = order_payments_df.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       103886 non-null  object
 1   payment_type   103886 non-null  object
 2   payment_value  103886 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.4+ MB

In [47]:
order_payments_df.duplicated().any()

False

In [48]:
# order_reviews data sheet
order_reviews_df = pd.read_excel(xl, sheet_name='order_reviews_data')
order_reviews_df.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13

In [49]:
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11567 non-null  object
 4   review_comment_message   40974 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

In [50]:
# drop irrelevant columns
order_reviews_df = order_reviews_df.drop(columns=['review_creation_date','review_comment_message',
                                                  'review_comment_title','review_answer_timestamp',
                                                 ])
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   review_id     99224 non-null  object
 1   order_id      99224 non-null  object
 2   review_score  99224 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [51]:
# orders data sheet
orders_df = pd.read_excel(xl, sheet_name='orders_data')
orders_df.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13

In [52]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [53]:
# drop irrelevant columns
orders_df = orders_df.drop(columns = ['order_delivered_carrier_date', 
                                      'order_estimated_delivery_date'
                                     ])
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_customer_date  96476 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(3)
memory usage: 4.6+ MB

In [54]:
# products data sheet
products_df = pd.read_excel(xl, sheet_name='products_data')
products_df.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [55]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [56]:
# drop irrelevant columns
products_df = products_df.drop(columns=['product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'])
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32341 non-null  object
dtypes: object(2)
memory usage: 515.0+ KB

In [57]:
# sellers data sheet
sellers_df = pd.read_excel(xl, sheet_name='sellers_data')
sellers_df.sample(10)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
1675,3442033154be05bac582e173ef54fd12,5413,sao paulo,SP
1700,615c3462099ffa940d37b17dfda19594,24855,rio de janeiro,RJ
2026,3a4127e1ba7208ea37044c5092aae170,8226,sao paulo,SP
1612,fd435faa3c0422b60440ea3480d0e77c,58073,joao pessoa,PB
2741,827f8f69dfa529c561901c4f2e0f332f,81880,curitiba,PR
2384,325f3178fb58e2a9778334621eecdbf9,6790,taboao da serra,SP
1190,edf3fabebcc20f7463cc9c53da932ea8,8320,sao paulo,SP
2285,282f23a9769b2690c5dda22e316f9941,31573,belo horizonte,MG
1064,a154d7316f158bb42e6fa18bbe3afd3a,3804,sao paulo,SP
2063,a353b1083c9863d756d9404695016d64,29150,cariacica,ES

In [58]:
sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [59]:
# change data types of columns
sellers_df['seller_zip_code_prefix'] = sellers_df['seller_zip_code_prefix'].astype('str')
sellers_df['seller_id'] = sellers_df['seller_id'].astype('str')

# Let's standardize seller_zip_code_prefix digits to 5 for the column
sellers_df.seller_zip_code_prefix = sellers_df.seller_zip_code_prefix.str.zfill(5)

sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   object
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: object(4)
memory usage: 96.8+ KB

In [154]:
# product_categories data sheet
product_categories_df = pd.read_excel(xl, sheet_name='product_categories_data')
product_categories_df

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

## Using the schema below, let's merge the tables.

>1.	An order might have multiple items.
2.	Each item might be fulfilled by a distinct seller.
3.	All text identifying stores and partners were replaced by the names of Game of Thrones great houses.

<img src='schema.png' alt='Table schema' width='750px'>

In [163]:
#  orders_df + order_reviews = orders
orders = pd.merge(orders_df, order_reviews_df, on='order_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99992 entries, 0 to 99991
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99992 non-null  object
 1   customer_id                    99992 non-null  object
 2   order_status                   99992 non-null  object
 3   order_purchase_timestamp       99992 non-null  datetime64[ns]
 4   order_approved_at              99831 non-null  datetime64[ns]
 5   order_delivered_customer_date  97005 non-null  datetime64[ns]
 6   review_id                      99224 non-null  object
 7   review_score                   99224 non-null  float64
dtypes: datetime64[ns](3), float64(1), object(4)
memory usage: 6.9+ MB

In [164]:
orders.duplicated().any()

False

In [165]:
# orders + order_payments_df = orders
orders = pd.merge(orders, order_payments_df, on='order_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103857 entries, 0 to 103856
Data columns (total 10 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       103857 non-null  object
 1   customer_id                    103857 non-null  object
 2   order_status                   103857 non-null  object
 3   order_purchase_timestamp       103857 non-null  datetime64[ns]
 4   order_approved_at              103691 non-null  datetime64[ns]
 5   order_delivered_customer_date  100736 non-null  datetime64[ns]
 6   review_id                      103060 non-null  object
 7   review_score                   103060 non-null  float64
 8   payment_type                   103856 non-null  object
 9   payment_value                  103856 non-null  float64
dtypes: datetime64[ns](3), float64(2), object(5)
memory usage: 8.7+ MB

In [167]:
# orders + order_items_df = orders
orders = pd.merge(orders, order_items_df, on='order_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_purchase_timestamp       118432 non-null  datetime64[ns]
 4   order_approved_at              118265 non-null  datetime64[ns]
 5   order_delivered_customer_date  115044 non-null  datetime64[ns]
 6   review_id                      117438 non-null  object
 7   review_score                   117438 non-null  float64
 8   payment_type                   118429 non-null  object
 9   payment_value                  118429 non-null  float64
 10  order_item_id                  117618 non-null  object
 11  product_id                     117618 non-null  object
 12  seller_id                      117618 non-null  object
 13  price                          117618 non-null  float64
 14  freight_value                  117618 non-null  float64
dtypes: datetime64[ns](3), float64(4), object(8)
memory usage: 14.5+ MB

In [168]:
# orders + products = orders
orders = pd.merge(orders, products_df, on='product_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_purchase_timestamp       118432 non-null  datetime64[ns]
 4   order_approved_at              118265 non-null  datetime64[ns]
 5   order_delivered_customer_date  115044 non-null  datetime64[ns]
 6   review_id                      117438 non-null  object
 7   review_score                   117438 non-null  float64
 8   payment_type                   118429 non-null  object
 9   payment_value                  118429 non-null  float64
 10  order_item_id                  117618 non-null  object
 11  product_id                     117618 non-null  object
 12  seller_id                      117618 non-null  object
 13  price                          117618 non-null  float64
 14  freight_value                  117618 non-null  float64
 15  product_category_name          115938 non-null  object
dtypes: datetime64[ns](3), float64(4), object(9)
memory usage: 15.4+ MB

### Fetch Seller Latitude and Longitude values from the geolocation table

In [169]:
sellers_df['seller_lat'] = pd.merge(sellers_df, geolocation_df, 
                                        left_on=['seller_zip_code_prefix', 'seller_state', 'seller_city'], 
                                        right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lat']

In [170]:
sellers_df['seller_lng'] = pd.merge(sellers_df, geolocation_df, 
                                         left_on=['seller_zip_code_prefix', 'seller_state', 'seller_city'], 
                                         right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lng']

In [171]:
# orders + sellers_df = orders
orders = pd.merge(orders, sellers_df, on='seller_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_purchase_timestamp       118432 non-null  datetime64[ns]
 4   order_approved_at              118265 non-null  datetime64[ns]
 5   order_delivered_customer_date  115044 non-null  datetime64[ns]
 6   review_id                      117438 non-null  object
 7   review_score                   117438 non-null  float64
 8   payment_type                   118429 non-null  object
 9   payment_value                  118429 non-null  float64
 10  order_item_id                  117618 non-null  object
 11  product_id                     117618 non-null  object
 12  seller_id                      117618 non-null  object
 13  price                          117618 non-null  float64
 14  freight_value                  117618 non-null  float64
 15  product_category_name          115938 non-null  object
 16  seller_zip_code_prefix         117618 non-null  object
 17  seller_city                    117618 non-null  object
 18  seller_state                   117618 non-null  object
 19  seller_lat                     117610 non-null  float64
 20  seller_lng                     117610 non-null  float64
dtypes: datetime64[ns](3), float64(6), object(12)
memory usage: 19.9+ MB

In [80]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,review_id,review_score,payment_type,payment_value,...,product_id,seller_id,price,freight_value,product_category_name,seller_zip_code_prefix,seller_city,seller_state,seller_lat,seller_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,a54f0611adc9ed256b57ede6b6eb5114,4.0,credit_card,18.12,...,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,utilidades_domesticas,09350,maua,SP,-23.680114,-46.452454
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,a54f0611adc9ed256b57ede6b6eb5114,4.0,voucher,2.00,...,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,utilidades_domesticas,09350,maua,SP,-23.675223,-46.441038
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,a54f0611adc9ed256b57ede6b6eb5114,4.0,voucher,18.59,...,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,utilidades_domesticas,09350,maua,SP,-23.679951,-46.448247
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,8d5266042046a06655c8db133d120ba5,4.0,boleto,141.46,...,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,22.76,perfumaria,31570,belo horizonte,SP,-23.678662,-46.442578
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,e73b67b67587f7644d5bd1a52deb1b01,5.0,credit_card,179.12,...,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,19.22,automotivo,14840,guariba,SP,-23.671205,-46.441246

### Also, fetch Customer Latitude and Longitude values from the geolocation table

In [172]:
customers_df['customer_lat'] = pd.merge(customers_df, geolocation_df, 
                                         left_on=['customer_zip_code_prefix', 'customer_state', 'customer_city'], right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lat']

In [173]:
customers_df['customer_lng'] = pd.merge(customers_df, geolocation_df, 
                                         left_on=['customer_zip_code_prefix', 'customer_state', 'customer_city'], right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lng']

In [92]:
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,-20.497396,-47.399241
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,-20.510459,-47.399553
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,-20.480940,-47.394161
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-20.515413,-47.398194

### Finally, merge customers_df with orders using customer_id column

In [174]:
# orders + customers_df = sales_df
sales_df = pd.merge(orders, customers_df, on = 'customer_id', how='right')
sales_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,review_id,review_score,payment_type,payment_value,...,seller_city,seller_state,seller_lat,seller_lng,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng
0,00e7ee1b050b8499577073aeb2a297a1,06b8999e2fba1a1fbc88172c00ba8bc7,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-25 10:35:35,88b8b52d46df026a9d1ad2136a59b30b,4.0,credit_card,146.87,...,itaquaquecetuba,SP,-16.330851,-48.947623,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,29150127e6685892b6eab3eec79f59c7,18955e83d337fd6b2def6b18a428ac77,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-29 12:41:19,02fc48a9efa3e3d0f1a8ea26507eeec3,5.0,credit_card,335.48,...,itajai,SC,-16.442126,-39.078010,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,-20.497396,-47.399241
2,b2059ed67ce144a36e2aa97d2c9e9ad2,4e7b3e00288586ebd08712fdd0374a03,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-14 17:58:51,5ad6695d76ee186dc473c42706984d87,5.0,credit_card,157.73,...,itaquaquecetuba,SP,-16.330851,-48.947623,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,-20.510459,-47.399553
3,951670f92359f4fe4a63112aa7306eba,b2b6027bc5c5109e529d4dc6358b12c3,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-28 16:04:25,059a801bb31f6aab2266e672cab87bc5,5.0,credit_card,173.30,...,itaquaquecetuba,SP,-16.330851,-48.947623,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,-20.480940,-47.394161
4,6b7d50bd145f6fc7f33cebabd7e49d0f,4f2d8ab171c80ec8364f7c12e35b23ad,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-08-09 20:55:48,8490879d58d6c5d7773f2739a03f089a,5.0,credit_card,252.25,...,ibitinga,SP,-23.982320,-46.236891,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-20.515413,-47.398194

### Copy the sales_df table for further cleaning

In [175]:
sales_df_clean = sales_df.copy()

In [176]:
sales_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_purchase_timestamp       118432 non-null  datetime64[ns]
 4   order_approved_at              118265 non-null  datetime64[ns]
 5   order_delivered_customer_date  115044 non-null  datetime64[ns]
 6   review_id                      117438 non-null  object
 7   review_score                   117438 non-null  float64
 8   payment_type                   118429 non-null  object
 9   payment_value                  118429 non-null  float64
 10  order_item_id                  117618 non-null  object
 11  product_id                     117618 non-null  object
 12  seller_id                      117618 non-null  object
 13  price                          117618 non-null  float64
 14  freight_value                  117618 non-null  float64
 15  product_category_name          115938 non-null  object
 16  seller_zip_code_prefix         117618 non-null  object
 17  seller_city                    117618 non-null  object
 18  seller_state                   117618 non-null  object
 19  seller_lat                     117610 non-null  float64
 20  seller_lng                     117610 non-null  float64
 21  customer_unique_id             118432 non-null  object
 22  customer_zip_code_prefix       118432 non-null  object
 23  customer_city                  118432 non-null  object
 24  customer_state                 118432 non-null  object
 25  customer_lat                   118430 non-null  float64
 26  customer_lng                   118430 non-null  float64
dtypes: datetime64[ns](3), float64(8), object(16)
memory usage: 25.3+ MB

In [177]:
# Export to csv for visual cleaning
sales_df_clean.to_csv('dirty_sales_data.csv', index=False)

In [178]:
sales_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_purchase_timestamp       118432 non-null  datetime64[ns]
 4   order_approved_at              118265 non-null  datetime64[ns]
 5   order_delivered_customer_date  115044 non-null  datetime64[ns]
 6   review_id                      117438 non-null  object
 7   review_score                   117438 non-null  float64
 8   payment_type                   118429 non-null  object
 9   payment_value                  118429 non-null  float64
 10  order_item_id                  117618 non-null  object
 11  product_id                     117618 non-null  object
 12  seller_id                      117618 non-null  object
 13  price                          117618 non-null  float64
 14  freight_value                  117618 non-null  float64
 15  product_category_name          115938 non-null  object
 16  seller_zip_code_prefix         117618 non-null  object
 17  seller_city                    117618 non-null  object
 18  seller_state                   117618 non-null  object
 19  seller_lat                     117610 non-null  float64
 20  seller_lng                     117610 non-null  float64
 21  customer_unique_id             118432 non-null  object
 22  customer_zip_code_prefix       118432 non-null  object
 23  customer_city                  118432 non-null  object
 24  customer_state                 118432 non-null  object
 25  customer_lat                   118430 non-null  float64
 26  customer_lng                   118430 non-null  float64
dtypes: datetime64[ns](3), float64(8), object(16)
memory usage: 25.3+ MB

In [99]:
sales_df_clean.describe()

,review_score,payment_value,price,freight_value,seller_lat,seller_lng,customer_lat,customer_lng
count,117438.000000,118429.000000,117618.000000,117618.000000,117610.000000,117610.000000,118430.000000,118430.000000
mean,4.015753,173.575062,120.628165,20.019567,-22.550835,-45.646617,-22.001480,-45.743073
std,1.400427,268.325853,184.121440,15.809956,3.682994,3.572776,4.218093,3.383411
min,1.000000,0.000000,0.850000,0.000000,-28.486230,-54.265283,-32.103825,-63.017772
25%,4.000000,61.500000,39.900000,13.080000,-23.978509,-47.891480,-23.559614,-47.391128
50%,5.000000,108.730000,74.900000,16.280000,-22.965496,-46.619714,-22.908300,-46.353037
75%,5.000000,189.690000,134.900000,21.180000,-22.248724,-43.177365,-20.261674,-43.237025
max,5.000000,13664.080000,6735.000000,409.680000,-12.867805,-38.289328,0.086430,-34.821100

### Additional Data Quality Issues
- Product category column not in English
- '_' in item and category names
- City names are in lower case

### Product category column not in English

Replace product category name column with the translated one in the products_category_translation csv file

In [155]:
sales_df_clean.product_category_name.sample(15)

39788                        pet_shop
79015                 cama_mesa_banho
18205                      perfumaria
11914                   esporte_lazer
14895                   esporte_lazer
74287          informatica_acessorios
104969             relogios_presentes
91784     fashion_bolsas_e_acessorios
67888              ferramentas_jardim
112098                  esporte_lazer
19904           utilidades_domesticas
40634                   esporte_lazer
19785                           bebes
30661                       papelaria
114566             ferramentas_jardim
Name: product_category_name, dtype: object

In [156]:
for i in sales_df_clean.product_category_name:
    assert (str(i).islower())

In [157]:
# Some products categories were not translated to English, while others are not available
print(sales_df_clean.product_category_name.nunique(dropna=False))
print(product_categories_df.product_category_name.nunique(dropna=False))

74
71

In [158]:
missing_cat = {'product_category_name' : ['portateis_cozinha_e_preparadores_de_alimentos', 'pc_gamer', np.nan],
    'product_category_name_english' : ['kitchen_equipment', 'pc_gamer', 'not_available']}

df = pd.DataFrame(data=missing_cat)

# Concatenate with the product_categories_df dataframe
product_categories_df = pd.concat([product_categories_df, df], ignore_index=True)
product_categories_df

,product_category_name,product_category_name_english
0,beleza_saude,health_beauty
1,informatica_acessorios,computers_accessories
2,automotivo,auto
3,cama_mesa_banho,bed_bath_table
4,moveis_decoracao,furniture_decor
...,...,...
69,fashion_roupa_infanto_juvenil,fashion_childrens_clothes
70,seguros_e_servicos,security_and_services
71,portateis_cozinha_e_preparadores_de_alimentos,kitchen_equipment
72,pc_gamer,pc_gamer
73,NaN,not_available

In [180]:
# Next, replace the Portugese category names with English version
sales_df_clean = pd.merge(sales_df_clean, product_categories_df, on='product_category_name', how='left').drop(columns=['product_category_name'])
sales_df_clean

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,review_id,review_score,payment_type,payment_value,...,seller_state,seller_lat,seller_lng,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng,product_category_name_english
0,00e7ee1b050b8499577073aeb2a297a1,06b8999e2fba1a1fbc88172c00ba8bc7,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-25 10:35:35,88b8b52d46df026a9d1ad2136a59b30b,4.0,credit_card,146.87,...,SP,-16.330851,-48.947623,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866,office_furniture
1,29150127e6685892b6eab3eec79f59c7,18955e83d337fd6b2def6b18a428ac77,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-29 12:41:19,02fc48a9efa3e3d0f1a8ea26507eeec3,5.0,credit_card,335.48,...,SC,-16.442126,-39.078010,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,-20.497396,-47.399241,housewares
2,b2059ed67ce144a36e2aa97d2c9e9ad2,4e7b3e00288586ebd08712fdd0374a03,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-14 17:58:51,5ad6695d76ee186dc473c42706984d87,5.0,credit_card,157.73,...,SP,-16.330851,-48.947623,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,-20.510459,-47.399553,office_furniture
3,951670f92359f4fe4a63112aa7306eba,b2b6027bc5c5109e529d4dc6358b12c3,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-28 16:04:25,059a801bb31f6aab2266e672cab87bc5,5.0,credit_card,173.30,...,SP,-16.330851,-48.947623,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,-20.480940,-47.394161,office_furniture
4,6b7d50bd145f6fc7f33cebabd7e49d0f,4f2d8ab171c80ec8364f7c12e35b23ad,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-08-09 20:55:48,8490879d58d6c5d7773f2739a03f089a,5.0,credit_card,252.25,...,SP,-23.982320,-46.236891,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-20.515413,-47.398194,home_confort
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118427,6760e20addcf0121e9d58f2f1ff14298,17ddf5dd5d51696bb3d7c6291687be6f,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-13 20:06:37,36e2cdbaa9f639b57c53b37ac798fee8,4.0,credit_card,88.78,...,SP,-23.486861,-46.730143,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP,-21.721842,-43.353880,books_general_interest
118428,9ec0c8947d973db4f4e8dcf1fbfa8f1b,e7b71a9017aa05c9a7fd292d714858e8,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-11 18:54:45,b273b431c3aedb4eed18643309652940,5.0,credit_card,129.06,...,SP,-16.419576,-39.084272,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP,-21.718059,-43.350766,sports_leisure
118429,fed4434add09a6f332ea398efd656a5c,5e28dfe12db7fb50a4b2f691faecea5e,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-05-09 19:03:15,fa4f16891e6b2edd1354668d07f5648b,1.0,credit_card,56.04,...,SP,-16.416062,-39.085346,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,-21.719544,-43.352861,health_beauty
118430,e31ec91cea1ecf97797787471f98a8c2,56b18e2166679b8a959d72dd06da27f9,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-16 19:58:39,0bcdc9e450ea500811a8d39ee993cd47,5.0,credit_card,711.07,...,SP,-23.987049,-46.234482,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,-21.720405,-43.353035,watches_gifts
118431,28db69209a75e59f20ccbb5c36a20b90,274fa6071e5e17fe303b9748641082c8,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-26 18:42:36,d95d701d062d2bb88041768a63aa750d,5.0,credit_card,21.77,...,SP,-16.378672,-39.034748,84732c5050c01db9b23e19ba39899398,06703,cotia,SP,-21.712185,-43.353605,perfumery

In [181]:
sales_df_clean.info() #['product_category_name']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_purchase_timestamp       118432 non-null  datetime64[ns]
 4   order_approved_at              118265 non-null  datetime64[ns]
 5   order_delivered_customer_date  115044 non-null  datetime64[ns]
 6   review_id                      117438 non-null  object
 7   review_score                   117438 non-null  float64
 8   payment_type                   118429 non-null  object
 9   payment_value                  118429 non-null  float64
 10  order_item_id                  117618 non-null  object
 11  product_id                     117618 non-null  object
 12  seller_id                      117618 non-null  object
 13  price                          117618 non-null  float64
 14  freight_value                  117618 non-null  float64
 15  seller_zip_code_prefix         117618 non-null  object
 16  seller_city                    117618 non-null  object
 17  seller_state                   117618 non-null  object
 18  seller_lat                     117610 non-null  float64
 19  seller_lng                     117610 non-null  float64
 20  customer_unique_id             118432 non-null  object
 21  customer_zip_code_prefix       118432 non-null  object
 22  customer_city                  118432 non-null  object
 23  customer_state                 118432 non-null  object
 24  customer_lat                   118430 non-null  float64
 25  customer_lng                   118430 non-null  float64
 26  product_category_name_english  118432 non-null  object
dtypes: datetime64[ns](3), float64(8), object(16)
memory usage: 25.3+ MB

### '_' in item and category names

### City names are in lower case

Replace all underscores in named columns of the Dataframe to have a cleaner data, then, convert to title case

In [183]:
# Replace all underscores with white space
named_columns = ['order_status', 'payment_type', 'product_category_name_english', 'seller_city', 'customer_city',]
# sales_df_clean[named_columns] = sales_df_clean[named_columns].astype('str')
sales_df_clean[named_columns] = sales_df_clean[named_columns].replace('_', ' ', regex=True)

# Next, convert to title case
for col in named_columns:
    sales_df_clean[col] = sales_df_clean[col].str.title()

In [184]:
sales_df_clean.customer_city

0                        Franca
1         Sao Bernardo Do Campo
2                     Sao Paulo
3               Mogi Das Cruzes
4                      Campinas
                  ...
118427                Sao Paulo
118428          Taboao Da Serra
118429                Fortaleza
118430                   Canoas
118431                    Cotia
Name: customer_city, Length: 118432, dtype: object

In [185]:
sales_df_clean[named_columns].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_status                   118432 non-null  object
 1   payment_type                   118429 non-null  object
 2   product_category_name_english  118432 non-null  object
 3   seller_city                    117617 non-null  object
 4   customer_city                  118432 non-null  object
dtypes: object(5)
memory usage: 5.4+ MB

In [189]:
# Add date dimension
# This will enable us apply filters using different time-based factors such as year, month, quarter, etc. 
# Please ignore warning in the output

sales_df_clean['day'] = sales_df_clean['order_purchase_timestamp'].dt.day_name()
sales_df_clean['week'] = sales_df_clean['order_purchase_timestamp'].dt.week
sales_df_clean['quarter'] = sales_df_clean['order_purchase_timestamp'].dt.quarter
sales_df_clean['year'] = sales_df_clean['order_purchase_timestamp'].dt.year
sales_df_clean['half_year'] = (sales_df_clean['quarter'] + 1) // 2
sales_df_clean

C:\Users\user\AppData\Local\Temp\ipykernel_10300\2228147855.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  sales_df_clean['week'] = sales_df_clean['order_purchase_timestamp'].dt.week

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_customer_date,review_id,review_score,payment_type,payment_value,...,customer_city,customer_state,customer_lat,customer_lng,product_category_name_english,day,week,quarter,year,half_year
0,00e7ee1b050b8499577073aeb2a297a1,06b8999e2fba1a1fbc88172c00ba8bc7,Delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-25 10:35:35,88b8b52d46df026a9d1ad2136a59b30b,4.0,Credit Card,146.87,...,Franca,SP,-20.509897,-47.397866,Office Furniture,Tuesday,20,2,2017,1
1,29150127e6685892b6eab3eec79f59c7,18955e83d337fd6b2def6b18a428ac77,Delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-29 12:41:19,02fc48a9efa3e3d0f1a8ea26507eeec3,5.0,Credit Card,335.48,...,Sao Bernardo Do Campo,SP,-20.497396,-47.399241,Housewares,Friday,2,1,2018,1
2,b2059ed67ce144a36e2aa97d2c9e9ad2,4e7b3e00288586ebd08712fdd0374a03,Delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-14 17:58:51,5ad6695d76ee186dc473c42706984d87,5.0,Credit Card,157.73,...,Sao Paulo,SP,-20.510459,-47.399553,Office Furniture,Saturday,20,2,2018,1
3,951670f92359f4fe4a63112aa7306eba,b2b6027bc5c5109e529d4dc6358b12c3,Delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-28 16:04:25,059a801bb31f6aab2266e672cab87bc5,5.0,Credit Card,173.30,...,Mogi Das Cruzes,SP,-20.480940,-47.394161,Office Furniture,Tuesday,11,1,2018,1
4,6b7d50bd145f6fc7f33cebabd7e49d0f,4f2d8ab171c80ec8364f7c12e35b23ad,Delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-08-09 20:55:48,8490879d58d6c5d7773f2739a03f089a,5.0,Credit Card,252.25,...,Campinas,SP,-20.515413,-47.398194,Home Confort,Sunday,30,3,2018,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118427,6760e20addcf0121e9d58f2f1ff14298,17ddf5dd5d51696bb3d7c6291687be6f,Delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-13 20:06:37,36e2cdbaa9f639b57c53b37ac798fee8,4.0,Credit Card,88.78,...,Sao Paulo,SP,-21.721842,-43.353880,Books General Interest,Saturday,14,2,2018,1
118428,9ec0c8947d973db4f4e8dcf1fbfa8f1b,e7b71a9017aa05c9a7fd292d714858e8,Delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-11 18:54:45,b273b431c3aedb4eed18643309652940,5.0,Credit Card,129.06,...,Taboao Da Serra,SP,-21.718059,-43.350766,Sports Leisure,Wednesday,14,2,2018,1
118429,fed4434add09a6f332ea398efd656a5c,5e28dfe12db7fb50a4b2f691faecea5e,Delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-05-09 19:03:15,fa4f16891e6b2edd1354668d07f5648b,1.0,Credit Card,56.04,...,Fortaleza,CE,-21.719544,-43.352861,Health Beauty,Sunday,14,2,2018,1
118430,e31ec91cea1ecf97797787471f98a8c2,56b18e2166679b8a959d72dd06da27f9,Delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-16 19:58:39,0bcdc9e450ea500811a8d39ee993cd47,5.0,Credit Card,711.07,...,Canoas,RS,-21.720405,-43.353035,Watches Gifts,Friday,44,4,2017,2
118431,28db69209a75e59f20ccbb5c36a20b90,274fa6071e5e17fe303b9748641082c8,Delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-26 18:42:36,d95d701d062d2bb88041768a63aa750d,5.0,Credit Card,21.77,...,Cotia,SP,-21.712185,-43.353605,Perfumery,Tuesday,51,4,2017,2

In [190]:
# OPTIONAL
# Now, let's export our cleaned data

sales_df_clean.to_csv('cleaned_sales_data.csv', index=False, )

In [202]:
sales_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 32 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_purchase_timestamp       118432 non-null  datetime64[ns]
 4   order_approved_at              118265 non-null  datetime64[ns]
 5   order_delivered_customer_date  115044 non-null  datetime64[ns]
 6   review_id                      117438 non-null  object
 7   review_score                   117438 non-null  float64
 8   payment_type                   118429 non-null  object
 9   payment_value                  118429 non-null  float64
 10  order_item_id                  117618 non-null  object
 11  product_id                     117618 non-null  object
 12  seller_id                      117618 non-null  object
 13  price                          117618 non-null  float64
 14  freight_value                  117618 non-null  float64
 15  seller_zip_code_prefix         117618 non-null  object
 16  seller_city                    117617 non-null  object
 17  seller_state                   117618 non-null  object
 18  seller_lat                     117610 non-null  float64
 19  seller_lng                     117610 non-null  float64
 20  customer_unique_id             118432 non-null  object
 21  customer_zip_code_prefix       118432 non-null  object
 22  customer_city                  118432 non-null  object
 23  customer_state                 118432 non-null  object
 24  customer_lat                   118430 non-null  float64
 25  customer_lng                   118430 non-null  float64
 26  product_category_name_english  118432 non-null  object
 27  day                            118432 non-null  object
 28  week                           118432 non-null  int64
 29  quarter                        118432 non-null  int64
 30  year                           118432 non-null  int64
 31  half_year                      118432 non-null  int64
dtypes: datetime64[ns](3), float64(8), int64(4), object(17)
memory usage: 29.8+ MB

In [215]:
sales_df_clean.query("year == 2018")['payment_value'].sum() #groupby('year')['payment_value'].sum()

11157621.08

In [226]:
sales_df_clean.groupby(by=['product_category_name_english']).sum()['payment_value'].sort_values()

product_category_name_english
Security And Services            324.51
Fashion Childrens Clothes        785.67
Cds Dvds Musicals               1199.43
Home Comfort 2                  1710.54
Pc Gamer                        2174.43
                                ...
Watches Gifts                1429639.26
Furniture Decor              1442659.16
Computers Accessories        1598913.33
Health Beauty                1661358.66
Bed Bath Table               1740639.37
Name: payment_value, Length: 74, dtype: float64