## Attention

An order might have multiple items.

Each item might be fulfiled by a distinct seller

In [1]:
#Import required libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
# import streamlit as st
# import plotly

In [2]:
# The datasets were combined into one Excel file with multiple sheets
#Load workbook
xl = pd.ExcelFile('olist_store_dataset.xlsx', engine='openpyxl')

In [3]:
# list of sheets containing the datasets
xl.sheet_names

['customers_data',
 'geolocation_data',
 'order_items_data',
 'order_payments_data',
 'order_reviews_data',
 'orders_data',
 'products_data',
 'sellers_data',
 'product_categories_data']

### Load the tables from Excel worksheet to a pandas dataframe

In [4]:
# Customers data sheet
customers_df = pd.read_excel(xl, sheet_name='customers_data')
customers_df.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
# change column datatypes
convert_dict = {
    'customer_zip_code_prefix': str,
    'customer_city': 'category',
    'customer_state': 'category',
}
customers_df = customers_df.astype(convert_dict)

# Let's standardize customer_zip_code_prefix digits to 5 for the column
customers_df.customer_zip_code_prefix = customers_df.customer_zip_code_prefix.str.zfill(5)

customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city             99441 non-null  category
 4   customer_state            99441 non-null  category
dtypes: category(2), object(3)
memory usage: 2.7+ MB

In [7]:
customers_df.customer_zip_code_prefix.sample(5)

67182    88380
35562    31160
52406    18410
65357    24110
6754     09310
Name: customer_zip_code_prefix, dtype: object

In [8]:
# geolocation data sheet
geolocation_df = pd.read_excel(xl, sheet_name='geolocation_data')
geolocation_df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [9]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [10]:
# Change data types of listed columns
convert_dict = {
    'geolocation_zip_code_prefix' : str,
    'geolocation_city': 'category',
    'geolocation_state': 'category',
}
geolocation_df = geolocation_df.astype(convert_dict)


# Let's standardize geolocation_zip_code_prefix digits to 5 for the column
geolocation_df.geolocation_zip_code_prefix = geolocation_df.geolocation_zip_code_prefix.str.zfill(5)

In [11]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  object
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  category
 4   geolocation_state            1000163 non-null  category
dtypes: category(2), float64(2), object(1)
memory usage: 26.1+ MB

In [12]:
geolocation_df.geolocation_zip_code_prefix.sample(10)

246571    11065
907018    88132
248406    11086
757968    65010
517949    28640
727197    57200
736046    59151
559918    31015
496151    26261
353241    15400
Name: geolocation_zip_code_prefix, dtype: object

In [13]:
# order_items data sheet
order_items_df = pd.read_excel(xl, sheet_name='order_items_data')
order_items_df.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [14]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

- Change datatypes for some columns
- Drop the shipping_limit_date column

In [15]:
convert_dict = {
    'order_item_id': str,
    'product_id': str,
    'seller_id': str,    
}

order_items_df = order_items_df.astype(convert_dict)
order_items_df = order_items_df.drop(columns=['shipping_limit_date'])

In [16]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       112650 non-null  object
 1   order_item_id  112650 non-null  object
 2   product_id     112650 non-null  object
 3   seller_id      112650 non-null  object
 4   price          112650 non-null  float64
 5   freight_value  112650 non-null  float64
dtypes: float64(2), object(4)
memory usage: 5.2+ MB

In [17]:
# order_payments data sheet
order_payments_df = pd.read_excel(xl, sheet_name='order_payments_data')
order_payments_df.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [18]:
order_payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [19]:
order_payments_df.duplicated().any()

False

In [20]:
# order_payments_df contains duplicate rows
order_payments_df[order_payments_df.duplicated()]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [21]:
# Change datatype
convert_dict = {
    'order_id': str,
    'payment_type': 'category', 
}
order_payments_df = order_payments_df.astype(convert_dict)

# drop irrelevant columns
order_payments_df = order_payments_df.drop(columns=['payment_sequential', 'payment_installments'])
order_payments_df.info()

# drop duplicates
order_payments_df = order_payments_df.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       103886 non-null  object
 1   payment_type   103886 non-null  category
 2   payment_value  103886 non-null  float64
dtypes: category(1), float64(1), object(1)
memory usage: 1.7+ MB

In [22]:
order_payments_df.duplicated().any()

False

In [23]:
# order_reviews data sheet
order_reviews_df = pd.read_excel(xl, sheet_name='order_reviews_data')
order_reviews_df.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13

In [24]:
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11567 non-null  object
 4   review_comment_message   40974 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

In [25]:
# change dtype
convert_dict = {
    'review_score': 'category',
}
order_reviews_df = order_reviews_df.astype(convert_dict)

# drop irrelevant columns
order_reviews_df = order_reviews_df.drop(columns=['review_creation_date','review_comment_message',
                                                  'review_comment_title','review_answer_timestamp',
                                                 ])
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   review_id     99224 non-null  object
 1   order_id      99224 non-null  object
 2   review_score  99224 non-null  category
dtypes: category(1), object(2)
memory usage: 1.6+ MB

In [26]:
# orders data sheet
orders_df = pd.read_excel(xl, sheet_name='orders_data')
orders_df.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13

In [27]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [28]:
# change dtype
orders_df.order_status = orders_df.order_status.astype('category')

# drop irrelevant columns
orders_df = orders_df.drop(columns = ['order_purchase_timestamp','order_delivered_carrier_date', 
                                      'order_estimated_delivery_date'
                                     ])
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  category
 3   order_approved_at              99281 non-null  datetime64[ns]
 4   order_delivered_customer_date  96476 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](2), object(2)
memory usage: 3.1+ MB

In [29]:
# products data sheet
products_df = pd.read_excel(xl, sheet_name='products_data')
products_df.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [30]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [31]:
# drop irrelevant columns
products_df = products_df.drop(columns=['product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'])
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32341 non-null  object
dtypes: object(2)
memory usage: 515.0+ KB

In [32]:
# sellers data sheet
sellers_df = pd.read_excel(xl, sheet_name='sellers_data')
sellers_df.sample(10)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
1060,cb5df0dcb9e280b1780e9d589889f2c7,15115,bady bassitt,SP
2343,2bf28e311bba65237358230cabac3f15,86047,londrina,PR
1467,2d8cfba3fcd3170555941605edaa196a,6080,osasco,SP
2022,ae7ab174effdead6c241e547e4ca13f0,86703,arapongas,PR
1435,08cdbae123ff67ca4e36d9d641ce0119,36504,uba,MG
2873,7178e1eaa97257d8b6d4b80efd77a025,18270,tatui,SP
1847,b416191c9813d821a295cfabafff4161,14407,franca,SP
2038,bba8d0c234a52b87b3957037a215d1a4,74343,goiania,GO
446,38af8acfd46ac4a7bf754e8ca6736664,4364,sao paulo,SP
1798,73b8eb4a9a729d4019b24ed1be748cbf,13070,campinas,SP

In [33]:
sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [34]:
# change data types of columns
convert_dict = {
    'seller_zip_code_prefix': str,
    'seller_id': str,
    'seller_city': 'category',
    'seller_state': 'category',
}
sellers_df = sellers_df.astype(convert_dict)

# Let's standardize seller_zip_code_prefix digits to 5 for the column
sellers_df.seller_zip_code_prefix = sellers_df.seller_zip_code_prefix.str.zfill(5)

sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   object
 2   seller_city             3095 non-null   category
 3   seller_state            3095 non-null   category
dtypes: category(2), object(2)
memory usage: 79.2+ KB

In [35]:
# product_categories data sheet
product_categories_df = pd.read_excel(xl, sheet_name='product_categories_data')
product_categories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

## Using the schema below, let's merge the tables.

>1.	An order might have multiple items.
2.	Each item might be fulfilled by a distinct seller.
3.	All text identifying stores and partners were replaced by the names of Game of Thrones great houses.

<img src='schema.png' alt='Table schema' width='750px'>

In [36]:
#  orders_df + order_reviews = orders
orders = pd.merge(orders_df, order_reviews_df, on='order_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99992 entries, 0 to 99991
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99992 non-null  object
 1   customer_id                    99992 non-null  object
 2   order_status                   99992 non-null  category
 3   order_approved_at              99831 non-null  datetime64[ns]
 4   order_delivered_customer_date  97005 non-null  datetime64[ns]
 5   review_id                      99224 non-null  object
 6   review_score                   99224 non-null  category
dtypes: category(2), datetime64[ns](2), object(3)
memory usage: 4.8+ MB

In [37]:
orders.duplicated().any()

False

In [38]:
# orders + order_payments_df = orders
orders = pd.merge(orders, order_payments_df, on='order_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103857 entries, 0 to 103856
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       103857 non-null  object
 1   customer_id                    103857 non-null  object
 2   order_status                   103857 non-null  category
 3   order_approved_at              103691 non-null  datetime64[ns]
 4   order_delivered_customer_date  100736 non-null  datetime64[ns]
 5   review_id                      103060 non-null  object
 6   review_score                   103060 non-null  category
 7   payment_type                   103856 non-null  category
 8   payment_value                  103856 non-null  float64
dtypes: category(3), datetime64[ns](2), float64(1), object(3)
memory usage: 5.8+ MB

In [39]:
order_payments_df.query("order_id == '8ca5bdac5ebe8f2d6fc9171d5ebc906a'")

                               order_id payment_type  payment_value
752    8ca5bdac5ebe8f2d6fc9171d5ebc906a      voucher          15.00
37465  8ca5bdac5ebe8f2d6fc9171d5ebc906a  credit_card          59.08
83047  8ca5bdac5ebe8f2d6fc9171d5ebc906a      voucher          25.00

In [40]:
# orders + order_items_df = orders
orders = pd.merge(orders, order_items_df, on='order_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  category
 3   order_approved_at              118265 non-null  datetime64[ns]
 4   order_delivered_customer_date  115044 non-null  datetime64[ns]
 5   review_id                      117438 non-null  object
 6   review_score                   117438 non-null  category
 7   payment_type                   118429 non-null  category
 8   payment_value                  118429 non-null  float64
 9   order_item_id                  117618 non-null  object
 10  product_id                     117618 non-null  object
 11  seller_id                      117618 non-null  object
 12  price                          117618 non-null  float64
 13  freight_value                  117618 non-null  float64
dtypes: category(3), datetime64[ns](2), float64(3), object(6)
memory usage: 11.2+ MB

In [41]:
# orders + products = orders
orders = pd.merge(orders, products_df, on='product_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  category
 3   order_approved_at              118265 non-null  datetime64[ns]
 4   order_delivered_customer_date  115044 non-null  datetime64[ns]
 5   review_id                      117438 non-null  object
 6   review_score                   117438 non-null  category
 7   payment_type                   118429 non-null  category
 8   payment_value                  118429 non-null  float64
 9   order_item_id                  117618 non-null  object
 10  product_id                     117618 non-null  object
 11  seller_id                      117618 non-null  object
 12  price                          117618 non-null  float64
 13  freight_value                  117618 non-null  float64
 14  product_category_name          115938 non-null  object
dtypes: category(3), datetime64[ns](2), float64(3), object(7)
memory usage: 12.1+ MB

In [42]:
# orders + sellers_df = orders
orders = pd.merge(orders, sellers_df, on='seller_id', how='left')
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  category
 3   order_approved_at              118265 non-null  datetime64[ns]
 4   order_delivered_customer_date  115044 non-null  datetime64[ns]
 5   review_id                      117438 non-null  object
 6   review_score                   117438 non-null  category
 7   payment_type                   118429 non-null  category
 8   payment_value                  118429 non-null  float64
 9   order_item_id                  117618 non-null  object
 10  product_id                     117618 non-null  object
 11  seller_id                      117618 non-null  object
 12  price                          117618 non-null  float64
 13  freight_value                  117618 non-null  float64
 14  product_category_name          115938 non-null  object
 15  seller_zip_code_prefix         117618 non-null  object
 16  seller_city                    117618 non-null  category
 17  seller_state                   117618 non-null  category
dtypes: category(5), datetime64[ns](2), float64(3), object(8)
memory usage: 13.3+ MB

### Fetch Seller Latitude and Longitude values from the geolocation table

In [43]:
orders['seller_lat'] = pd.merge(orders, geolocation_df, 
                                        left_on=['seller_zip_code_prefix', 'seller_state', 'seller_city'], 
                                        right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lat']

orders['seller_lng'] = pd.merge(orders, geolocation_df, 
                                         left_on=['seller_zip_code_prefix', 'seller_state', 'seller_city'], 
                                         right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lng']

In [44]:
orders

,order_id,customer_id,order_status,order_approved_at,order_delivered_customer_date,review_id,review_score,payment_type,payment_value,order_item_id,product_id,seller_id,price,freight_value,product_category_name,seller_zip_code_prefix,seller_city,seller_state,seller_lat,seller_lng
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15,2017-10-10 21:25:13,a54f0611adc9ed256b57ede6b6eb5114,4,credit_card,18.12,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,utilidades_domesticas,09350,maua,SP,-23.680114,-46.452454
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15,2017-10-10 21:25:13,a54f0611adc9ed256b57ede6b6eb5114,4,voucher,2.00,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,utilidades_domesticas,09350,maua,SP,-23.675223,-46.441038
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15,2017-10-10 21:25:13,a54f0611adc9ed256b57ede6b6eb5114,4,voucher,18.59,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,utilidades_domesticas,09350,maua,SP,-23.679951,-46.448247
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27,2018-08-07 15:27:45,8d5266042046a06655c8db133d120ba5,4,boleto,141.46,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,22.76,perfumaria,31570,belo horizonte,SP,-23.678662,-46.442578
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23,2018-08-17 18:06:29,e73b67b67587f7644d5bd1a52deb1b01,5,credit_card,179.12,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,19.22,automotivo,14840,guariba,SP,-23.671205,-46.441246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118427,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:10:37,2018-02-28 17:37:56,29bb71b2760d0f876dfa178a76bc4734,4,credit_card,195.00,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,174.90,20.10,bebes,17602,tupa,SP,-21.765222,-48.827019
118428,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 15:04:16,2017-09-21 11:24:17,371579771219f6db2d830d50805977bb,5,credit_card,271.01,1,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,205.99,65.02,eletrodomesticos_2,08290,sao paulo,SP,-21.754140,-48.843411
118429,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21,2018-01-25 23:32:54,8ab6855b9fe9b812cd03a480a25058a1,2,credit_card,441.16,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,40.59,informatica_acessorios,37175,ilicinea,MG,-21.734663,-48.814807
118430,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:36:21,2018-01-25 23:32:54,8ab6855b9fe9b812cd03a480a25058a1,2,credit_card,441.16,2,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,40.59,informatica_acessorios,37175,ilicinea,MG,-21.755949,-48.829956
118431,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-09 11:20:28,2018-03-16 13:08:30,dc9c59b4688062c25758c2be4cafc523,5,debit_card,86.86,1,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,68.50,18.36,beleza_saude,14407,franca,SP,-21.755283,-48.833035

### Also, fetch Customer Latitude and Longitude values from the geolocation table

In [47]:
customers_df['customer_lat'] = pd.merge(customers_df, geolocation_df, 
                                         left_on=['customer_zip_code_prefix', 'customer_state', 'customer_city'], right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lat']

customers_df['customer_lng'] = pd.merge(customers_df, geolocation_df, 
                                         left_on=['customer_zip_code_prefix', 'customer_state', 'customer_city'], right_on=['geolocation_zip_code_prefix', 'geolocation_state', 'geolocation_city'], 
                                         how='left')['geolocation_lng']

In [48]:
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,-20.497396,-47.399241
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,-20.510459,-47.399553
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,-20.480940,-47.394161
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-20.515413,-47.398194
...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP,-21.721842,-43.353880
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP,-21.718059,-43.350766
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,-21.719544,-43.352861
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,-21.720405,-43.353035
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP,-21.712185,-43.353605

### Finally, merge customers_df with orders usine customer_id column

In [52]:
# orders + customers_df = sales_df
sales_df = pd.merge(orders, customers_df, on = 'customer_id', how='right')
sales_df

,order_id,customer_id,order_status,order_approved_at,order_delivered_customer_date,review_id,review_score,payment_type,payment_value,order_item_id,...,seller_city,seller_state,seller_lat,seller_lng,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng
0,00e7ee1b050b8499577073aeb2a297a1,06b8999e2fba1a1fbc88172c00ba8bc7,delivered,2017-05-16 15:22:12,2017-05-25 10:35:35,88b8b52d46df026a9d1ad2136a59b30b,4,credit_card,146.87,1,...,itaquaquecetuba,SP,-23.652802,-46.768284,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,29150127e6685892b6eab3eec79f59c7,18955e83d337fd6b2def6b18a428ac77,delivered,2018-01-12 20:58:32,2018-01-29 12:41:19,02fc48a9efa3e3d0f1a8ea26507eeec3,5,credit_card,335.48,1,...,itajai,SC,-18.925991,-48.290849,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,-20.497396,-47.399241
2,b2059ed67ce144a36e2aa97d2c9e9ad2,4e7b3e00288586ebd08712fdd0374a03,delivered,2018-05-20 16:19:10,2018-06-14 17:58:51,5ad6695d76ee186dc473c42706984d87,5,credit_card,157.73,1,...,itaquaquecetuba,SP,-22.372746,-46.935023,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,-20.510459,-47.399553
3,951670f92359f4fe4a63112aa7306eba,b2b6027bc5c5109e529d4dc6358b12c3,delivered,2018-03-13 17:29:19,2018-03-28 16:04:25,059a801bb31f6aab2266e672cab87bc5,5,credit_card,173.30,1,...,itaquaquecetuba,SP,-23.644491,-46.556242,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,-20.480940,-47.394161
4,6b7d50bd145f6fc7f33cebabd7e49d0f,4f2d8ab171c80ec8364f7c12e35b23ad,delivered,2018-07-29 10:10:09,2018-08-09 20:55:48,8490879d58d6c5d7773f2739a03f089a,5,credit_card,252.25,1,...,ibitinga,SP,-23.494428,-46.364439,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-20.515413,-47.398194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118427,6760e20addcf0121e9d58f2f1ff14298,17ddf5dd5d51696bb3d7c6291687be6f,delivered,2018-04-07 16:08:45,2018-04-13 20:06:37,36e2cdbaa9f639b57c53b37ac798fee8,4,credit_card,88.78,1,...,garca,SP,-21.188853,-47.759443,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP,-21.721842,-43.353880
118428,9ec0c8947d973db4f4e8dcf1fbfa8f1b,e7b71a9017aa05c9a7fd292d714858e8,delivered,2018-04-04 08:35:12,2018-04-11 18:54:45,b273b431c3aedb4eed18643309652940,5,credit_card,129.06,1,...,araraquara,SP,-21.763148,-48.825868,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP,-21.718059,-43.350766
118429,fed4434add09a6f332ea398efd656a5c,5e28dfe12db7fb50a4b2f691faecea5e,delivered,2018-04-08 20:30:03,2018-05-09 19:03:15,fa4f16891e6b2edd1354668d07f5648b,1,credit_card,56.04,1,...,sao paulo,SP,-23.481887,-46.369421,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,-21.719544,-43.352861
118430,e31ec91cea1ecf97797787471f98a8c2,56b18e2166679b8a959d72dd06da27f9,delivered,2017-11-03 21:31:20,2017-11-16 19:58:39,0bcdc9e450ea500811a8d39ee993cd47,5,credit_card,711.07,1,...,guariba,SP,-23.598090,-46.600742,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,-21.720405,-43.353035
118431,28db69209a75e59f20ccbb5c36a20b90,274fa6071e5e17fe303b9748641082c8,delivered,2017-12-19 18:50:39,2017-12-26 18:42:36,d95d701d062d2bb88041768a63aa750d,5,credit_card,21.77,1,...,sao paulo,SP,-22.939762,-43.176863,84732c5050c01db9b23e19ba39899398,06703,cotia,SP,-21.712185,-43.353605

### Copy the sales_df table for further cleaning

In [53]:
sales_df_clean = sales_df.copy()
sales_df_clean

,order_id,customer_id,order_status,order_approved_at,order_delivered_customer_date,review_id,review_score,payment_type,payment_value,order_item_id,...,seller_city,seller_state,seller_lat,seller_lng,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng
0,00e7ee1b050b8499577073aeb2a297a1,06b8999e2fba1a1fbc88172c00ba8bc7,delivered,2017-05-16 15:22:12,2017-05-25 10:35:35,88b8b52d46df026a9d1ad2136a59b30b,4,credit_card,146.87,1,...,itaquaquecetuba,SP,-23.652802,-46.768284,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866
1,29150127e6685892b6eab3eec79f59c7,18955e83d337fd6b2def6b18a428ac77,delivered,2018-01-12 20:58:32,2018-01-29 12:41:19,02fc48a9efa3e3d0f1a8ea26507eeec3,5,credit_card,335.48,1,...,itajai,SC,-18.925991,-48.290849,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,-20.497396,-47.399241
2,b2059ed67ce144a36e2aa97d2c9e9ad2,4e7b3e00288586ebd08712fdd0374a03,delivered,2018-05-20 16:19:10,2018-06-14 17:58:51,5ad6695d76ee186dc473c42706984d87,5,credit_card,157.73,1,...,itaquaquecetuba,SP,-22.372746,-46.935023,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,-20.510459,-47.399553
3,951670f92359f4fe4a63112aa7306eba,b2b6027bc5c5109e529d4dc6358b12c3,delivered,2018-03-13 17:29:19,2018-03-28 16:04:25,059a801bb31f6aab2266e672cab87bc5,5,credit_card,173.30,1,...,itaquaquecetuba,SP,-23.644491,-46.556242,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,-20.480940,-47.394161
4,6b7d50bd145f6fc7f33cebabd7e49d0f,4f2d8ab171c80ec8364f7c12e35b23ad,delivered,2018-07-29 10:10:09,2018-08-09 20:55:48,8490879d58d6c5d7773f2739a03f089a,5,credit_card,252.25,1,...,ibitinga,SP,-23.494428,-46.364439,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-20.515413,-47.398194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118427,6760e20addcf0121e9d58f2f1ff14298,17ddf5dd5d51696bb3d7c6291687be6f,delivered,2018-04-07 16:08:45,2018-04-13 20:06:37,36e2cdbaa9f639b57c53b37ac798fee8,4,credit_card,88.78,1,...,garca,SP,-21.188853,-47.759443,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP,-21.721842,-43.353880
118428,9ec0c8947d973db4f4e8dcf1fbfa8f1b,e7b71a9017aa05c9a7fd292d714858e8,delivered,2018-04-04 08:35:12,2018-04-11 18:54:45,b273b431c3aedb4eed18643309652940,5,credit_card,129.06,1,...,araraquara,SP,-21.763148,-48.825868,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP,-21.718059,-43.350766
118429,fed4434add09a6f332ea398efd656a5c,5e28dfe12db7fb50a4b2f691faecea5e,delivered,2018-04-08 20:30:03,2018-05-09 19:03:15,fa4f16891e6b2edd1354668d07f5648b,1,credit_card,56.04,1,...,sao paulo,SP,-23.481887,-46.369421,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,-21.719544,-43.352861
118430,e31ec91cea1ecf97797787471f98a8c2,56b18e2166679b8a959d72dd06da27f9,delivered,2017-11-03 21:31:20,2017-11-16 19:58:39,0bcdc9e450ea500811a8d39ee993cd47,5,credit_card,711.07,1,...,guariba,SP,-23.598090,-46.600742,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,-21.720405,-43.353035
118431,28db69209a75e59f20ccbb5c36a20b90,274fa6071e5e17fe303b9748641082c8,delivered,2017-12-19 18:50:39,2017-12-26 18:42:36,d95d701d062d2bb88041768a63aa750d,5,credit_card,21.77,1,...,sao paulo,SP,-22.939762,-43.176863,84732c5050c01db9b23e19ba39899398,06703,cotia,SP,-21.712185,-43.353605

In [54]:
# Export to csv for visual cleaning
sales_df_clean.to_csv('dirty_sales_data.csv', index=False)

In [225]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118432 entries, 0 to 118431
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  category
 3   order_approved_at              118265 non-null  datetime64[ns]
 4   order_delivered_customer_date  115044 non-null  datetime64[ns]
 5   review_id                      117438 non-null  object
 6   review_score                   117438 non-null  category
 7   payment_type                   118429 non-null  category
 8   payment_value                  118429 non-null  float64
 9   order_item_id                  117618 non-null  object
 10  product_id                     117618 non-null  object
 11  seller_id                      117618 non-null  object
 12  price                          117618 non-null  float64
 13  freight_value                  117618 non-null  float64
 14  product_category_name          115938 non-null  object
 15  seller_zip_code_prefix         117618 non-null  object
 16  seller_city                    117618 non-null  category
 17  seller_state                   117618 non-null  category
 18  geolocation_zip_code_prefix    117353 non-null  object
 19  geolocation_lat                117353 non-null  float64
 20  geolocation_lng                117353 non-null  float64
 21  geolocation_city               117353 non-null  category
 22  geolocation_state              117353 non-null  category
 23  customer_unique_id             118432 non-null  object
 24  customer_zip_code_prefix       118432 non-null  object
 25  customer_city                  118432 non-null  category
 26  customer_state                 118432 non-null  category
dtypes: category(9), datetime64[ns](2), float64(5), object(11)
memory usage: 19.0+ MB

In [226]:
sales_data.describe()

,payment_value,price,freight_value,geolocation_lat,geolocation_lng
count,118429.000000,117618.000000,117618.000000,117353.000000,117353.000000
mean,173.575062,120.628165,20.019567,-22.799608,-47.240117
std,268.325853,184.121440,15.809956,2.688623,2.339007
min,0.000000,0.850000,0.000000,-36.605374,-67.809656
25%,61.500000,39.900000,13.080000,-23.609316,-48.831547
50%,108.730000,74.900000,16.280000,-23.422195,-46.755211
75%,189.690000,134.900000,21.180000,-21.766477,-46.518082
max,13664.080000,6735.000000,409.680000,-2.546079,-34.847856

In [228]:
sales_data

### Data Quality Issues
- Product category column not in English
- '_' in item and category names
- City names are in lower case
- non-ascii characters: geolocation city
- Inconsistent spelling formats. e.g 'sÃƒÂ£o paulo', 'sao paulo'; getÃƒÂºlio vargas, getulio vargas; etc.
- Certain columns are of type float instead of int
- City name in lower case

In [232]:
# Fake Merge
fk = pd.merge(geolocation_df, customers_df, left_on='geolocation_zip_code_prefix', right_on='customer_zip_code_prefix', how='left')
fk.shape

(103341, 10)

In [230]:
fk

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,01037,-23.545621,-46.639292,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,01037,sao paulo,SP
1,01037,-23.545621,-46.639292,sao paulo,SP,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,01037,sao paulo,SP
2,01037,-23.545621,-46.639292,sao paulo,SP,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,01037,sao paulo,SP
3,01046,-23.546081,-46.644820,sao paulo,SP,9a02295e3381803554347ab4dc1ab41b,182491a144858edd68163675689069d6,01046,sao paulo,SP
4,01046,-23.546081,-46.644820,sao paulo,SP,51795c9dc161dc05ef36dc8460dfa7e7,86ef1d99643569be4c21378742544d2e,01046,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...
103336,99955,-28.107588,-52.144019,vila langaro,RS,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,99955,vila langaro,RS
103337,99970,-28.345143,-51.876926,ciriaco,RS,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS
103338,99910,-27.863500,-52.084760,floriano peixoto,RS,NaN,NaN,NaN,NaN,NaN
103339,99920,-27.858716,-52.300403,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,99920,erebango,RS
103340,99952,-28.160371,-51.936922,santa cecilia do sul,RS,NaN,NaN,NaN,NaN,NaN

In [233]:
fk2 = pd.merge(fk, sellers_df, left_on='geolocation_zip_code_prefix', right_on='seller_zip_code_prefix', how='left')
fk2

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,01037,-23.545621,-46.639292,sao paulo,SP,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,01037,sao paulo,SP,NaN,NaN,NaN,NaN
1,01037,-23.545621,-46.639292,sao paulo,SP,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,01037,sao paulo,SP,NaN,NaN,NaN,NaN
2,01037,-23.545621,-46.639292,sao paulo,SP,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,01037,sao paulo,SP,NaN,NaN,NaN,NaN
3,01046,-23.546081,-46.644820,sao paulo,SP,9a02295e3381803554347ab4dc1ab41b,182491a144858edd68163675689069d6,01046,sao paulo,SP,NaN,NaN,NaN,NaN
4,01046,-23.546081,-46.644820,sao paulo,SP,51795c9dc161dc05ef36dc8460dfa7e7,86ef1d99643569be4c21378742544d2e,01046,sao paulo,SP,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120340,99955,-28.107588,-52.144019,vila langaro,RS,d6991eab03850ca580267c3608a42ca6,6341d3fbce8289e47b4e1261026dfbd1,99955,vila langaro,RS,NaN,NaN,NaN,NaN
120341,99970,-28.345143,-51.876926,ciriaco,RS,3ab8bc00f8740d54afc4c771fb6c7f69,0528a0a940c7116ccb48fdbb8e80a8ff,99970,ciriaco,RS,NaN,NaN,NaN,NaN
120342,99910,-27.863500,-52.084760,floriano peixoto,RS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120343,99920,-27.858716,-52.300403,erebango,RS,586068537ced131bb1950d007e218c6f,db898fbe949888ae7f95398cb9e4eb63,99920,erebango,RS,NaN,NaN,NaN,NaN
120344,99952,-28.160371,-51.936922,santa cecilia do sul,RS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [240]:
fk2.seller_zip_code_prefix.value_counts(dropna=False)

NaN      75378
14940     1078
22790      710
22793      484
38400      348
         ...
25803        1
25755        1
24813        1
20761        1
99730        1
Name: seller_zip_code_prefix, Length: 2240, dtype: int64

In [238]:
fk2.shape

(120345, 14)

In [243]:
customers_df.customer_id.nunique()

99441

In [244]:
fk.customer_zip_code_prefix.value_counts(dropna=False)

NaN      4178
22790     142
24220     124
22793     121
24230     117
         ...
09426       1
79330       1
79301       1
09410       1
99920       1
Name: customer_zip_code_prefix, Length: 14838, dtype: int64

In [245]:
customers_df.query("customer_id == '05b005e82f3f2dcc41b5504f00484e50'")

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
18484,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,01037,sao paulo,SP