# Introduction

In [1]:
#Import required libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
# import streamlit as st
# import plotly

In [3]:
sales_data = pd.read_csv('dirty_sales_data.csv')
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118432 entries, 0 to 118431
Data columns (total 26 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118432 non-null  object
 1   customer_id                    118432 non-null  object
 2   order_status                   118432 non-null  object
 3   order_approved_at              118265 non-null  object
 4   order_delivered_customer_date  115044 non-null  object
 5   review_id                      117438 non-null  object
 6   review_score                   117438 non-null  float64
 7   payment_type                   118429 non-null  object
 8   payment_value                  118429 non-null  float64
 9   order_item_id                  117618 non-null  float64
 10  product_id                     117618 non-null  object
 11  seller_id                      117618 non-null  object
 12  price                          117618 non-null  float64
 13  freight_value                  117618 non-null  float64
 14  product_category_name          115938 non-null  object
 15  seller_zip_code_prefix         117618 non-null  float64
 16  seller_city                    117618 non-null  object
 17  seller_state                   117618 non-null  object
 18  seller_lat                     118406 non-null  float64
 19  seller_lng                     118406 non-null  float64
 20  customer_unique_id             118432 non-null  object
 21  customer_zip_code_prefix       118432 non-null  int64
 22  customer_city                  118432 non-null  object
 23  customer_state                 118432 non-null  object
 24  customer_lat                   118430 non-null  float64
 25  customer_lng                   118430 non-null  float64
dtypes: float64(10), int64(1), object(15)
memory usage: 23.5+ MB

In [5]:
# update datatypes

convert_dtype_dict = {
    'order_status': 'category',
    'order_approved_at': 'datetime64[ns]',
    'order_delivered_customer_date': 'datetime64[ns]',
    'review_score': 'category',
    'payment_type': 'category',
    'product_category_name': 'category',
    'seller_zip_code_prefix': str,
    'seller_city': 'category',
    'seller_state': 'category',
    'customer_zip_code_prefix': str,
    'customer_city': 'category',
    'customer_state': 'category',
}

sales_data = sales_data.astype(convert_dtype_dict)

hi

# Univariate Analysis

# Bivariate Analysis

# Multivariate Analysis